<div id="<%= dom_id product %>">
  <p>
    <strong>Cant:</strong>
    <%= product.cant %>
  </p>

  <p>
    <strong>Producto:</strong>
    <%= product.producto %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= product.precio %>
  </p>

  <p>
    <strong>V venta:</strong>
    <%= product.v_venta %>
  </p>

</div>
