<div id="<%= dom_id invoice %>">
  <p>
    <strong>Event date:</strong>
    <%= invoice.event_date %>
  </p>

  <p>
    <strong>Cliente:</strong>
    <%= invoice.cliente %>
  </p>

  <p>
    <strong>Ruc:</strong>
    <%= invoice.ruc %>
  </p>

  <p>
    <strong>Cond venta:</strong>
    <%= invoice.cond_venta %>
  </p>

  <p>
    <strong>Valor parcial:</strong>
    <%= invoice.valor_parcial %>
  </p>

  <p>
    <strong>Total pagar:</strong>
    <%= invoice.total_pagar %>
  </p>

  <p>
    <strong>T pagar c:</strong>
    <%= invoice.t_pagar_c %>
  </p>

  <p>
    <strong>Iva five:</strong>
    <%= invoice.iva_five %>
  </p>

  <p>
    <strong>Iva ten:</strong>
    <%= invoice.iva_ten %>
  </p>

  <p>
    <strong>Iva total:</strong>
    <%= invoice.iva_total %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= invoice.telefono %>
  </p>

  <p>
    <strong>Nota remi:</strong>
    <%= invoice.nota_remi %>
  </p>

</div>
