<div id="<%= dom_id invoice %>">
  <p>
    <strong>Number:</strong>
    <%= invoice.number %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= invoice.date %>
  </p>

  <p>
    <strong>Customer name:</strong>
    <%= invoice.customer_name %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= invoice.total %>
  </p>

</div>
