<div id="<%= dom_id bill_v2 %>">
  <p>
    <strong>Event date:</strong>
    <%= bill_v2.event_date %>
  </p>

  <p>
    <strong>Cliente:</strong>
    <%= bill_v2.cliente %>
  </p>

  <p>
    <strong>Ruc:</strong>
    <%= bill_v2.ruc %>
  </p>

  <p>
    <strong>Cond venta:</strong>
    <%= bill_v2.cond_venta %>
  </p>

  <p>
    <strong>Valor parcial:</strong>
    <%= bill_v2.valor_parcial %>
  </p>

  <p>
    <strong>Total pagar:</strong>
    <%= bill_v2.total_pagar %>
  </p>

  <p>
    <strong>Iva:</strong>
    <%= bill_v2.iva %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= bill_v2.telefono %>
  </p>

  <p>
    <strong>Nota remi:</strong>
    <%= bill_v2.nota_remi %>
  </p>

</div>
