<div id="<%= dom_id invoice_item %>">
  <p>
    <strong>Name:</strong>
    <%= invoice_item.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= invoice_item.description %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= invoice_item.quantity %>
  </p>

  <p>
    <strong>Unit price:</strong>
    <%= invoice_item.unit_price %>
  </p>

  <p>
    <strong>Invoice:</strong>
    <%= invoice_item.invoice_id %>
  </p>

</div>
