<div id="<%= dom_id empleado %>">
  <p>
    <strong>Nombre:</strong>
    <%= empleado.Nombre %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= empleado.direccion %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= empleado.telefono %>
  </p>

  <p>
    <strong>Fechadeentrada:</strong>
    <%= empleado.fechadeEntrada %>
  </p>

</div>
