<%= form_with(model: empleado) do |form| %>
  <% if empleado.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(empleado.errors.count, "error") %> prohibited this empleado from being saved:</h2>

      <ul>
        <% empleado.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :Nombre, style: "display: block" %>
    <%= form.text_field :Nombre %>
  </div>

  <div>
    <%= form.label :direccion, style: "display: block" %>
    <%= form.text_field :direccion %>
  </div>

  <div>
    <%= form.label :telefono, style: "display: block" %>
    <%= form.text_field :telefono %>
  </div>

  <div>
    <%= form.label :fechadeEntrada, style: "display: block" %>
    <%= form.date_field :fechadeEntrada %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
