<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :producto, style: "display: block" %>
    <%= form.text_field :producto %>
  </div>

  <div>
    <%= form.label :cantidad, style: "display: block" %>
    <%= form.number_field :cantidad %>
  </div>

  <div>
    <%= form.label :precio, style: "display: block" %>
    <%= form.text_field :precio %>
  </div>

  <div>
    <%= form.label :iva_ten, style: "display: block" %>
    <%= form.text_field :iva_ten %>
  </div>

  <div>
    <%= form.label :iva_five, style: "display: block" %>
    <%= form.text_field :iva_five %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
