<div id="<%= dom_id product %>">
  <p>
    <strong>Producto:</strong>
    <%= product.producto %>
  </p>

  <p>
    <strong>Cantidad:</strong>
    <%= product.cantidad %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= product.precio %>
  </p>

  <p>
    <strong>Iva ten:</strong>
    <%= product.iva_ten %>
  </p>

  <p>
    <strong>Iva five:</strong>
    <%= product.iva_five %>
  </p>

</div>
